@import "./Variables.scss";
@import "./Mixins.scss";

$margin-list: margin margin-top margin-bottom margin-left margin-right;
$padding-list: padding padding-top padding-bottom padding-left padding-right;

@for $i from 0 through 200 {

  @each $margin-property in $margin-list {
    .#{$margin-property}-#{$i} {
      #{$margin-property}: #{$i}px;
    }

    .margin-v-#{$i} {
      margin-top: #{$i}px;
      margin-bottom: #{$i}px;
    }

    .margin-h-#{$i} {
      margin-left: #{$i}px;
      margin-right: #{$i}px;
    }

    .margin-#{$i} {
      margin: #{$i}px;
    }
  }

  @each $padding-property in $padding-list {
    .#{$padding-property}-#{$i} {
      #{$padding-property}: #{$i}px;
    }

    .padding-v-#{$i} {
      padding-top: #{$i}px;
      padding-bottom: #{$i}px;
    }

    .padding-h-#{$i} {
      padding-left: #{$i}px;
      padding-right: #{$i}px;
    }

    .padding-#{$i} {
      padding: #{$i}px;
    }
  }
}





$positions-list: top right bottom left;

@for $i from 0 through 100 {
  @each $position-property in $positions-list {
    .#{$position-property}-#{i} {
      #{$position-property}: #{i}px;
    }
  }
}



@for $i from 0 through 10 {
  .opacity-#{$i} {
    opacity: $i * .1;
  }
}


@mixin app-button ($background-color: $white, $text-color: $grey-dark, $border-color: $grey) {

  background: $background-color;
  color: $text-color;
  border: 1px solid $border-color;

  &:hover {
    background: darken($background-color, 5%);
  }

  &:active {
    background: darken($background-color, 10%);
  }

  &:disabled,
  &:disabled:hover {
    background: $background-color;
  }
}

@media (max-width: 575px)
{
  .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up,
  .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
  {
    display: none !important;
  }

}

// / Breakpoint SM /
@media (min-width: 576px) and (max-width: 767px)
{
  .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up,
  .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
  {
    display: none !important;
  }
}

// / Breakpoint MD /
@media (min-width: 768px) and (max-width: 991px)
{
  .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up, .hidden-md-up,
  .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl
  {
    display: none !important;
  }
}

// / Breakpoint LG /
@media (min-width: 992px) and (max-width: 1199px)
{
  .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up,
  .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl
  {
    display: none !important;
  }
}

//  Breakpoint XL 
@media (min-width: 1200px)
{
  .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up,
  .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg
  {
    display: none !important;
  }
}