.donut-chart{
    width:  960px; 
    height: 500px; 

    .donut-chart_Canvas{
        width:  100%;
        height: 100%;
    }

    .arc text {
        font: 10px sans-serif;
        text-anchor: middle;
      }
      
      .arc path {
        stroke: #fff;
      }
}