.tool-tip-class{
    z-index: 5000;
    position: fixed;
    display: none;
    height: 0px;
    width: 0px;
    
    left: 0px;
    top: 0px;
    .tool-tip-content{
        display: block;
        position: relative;
        
        .tool-tip-content-inner{
            background: black;
            color: gray;
            position: absolute;
            bottom: 10px;
            left: 0px;
            margin-left: -50%;
            width: 200px;
            padding: 20px;
            box-shadow: 3px 3px 5px darkgray;
        }
    }
    
    &.is-visible{
        display: block;       
    }
}