.back-ground-class{
    width: 100%;
    height: 100%;
    position: relative;
    .back-ground-current, .back-ground-next{
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-position-x: center;
        background-position-y: top;
        position: absolute;
        left: 0;
        top: 0;
    
    }
}